[Unit]
Description=Update Flatpak user-installation

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --assumeyes --noninteractive --user

[Install]
WantedBy=default.target
