[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=OpenPHT
GenericName=OpenPHT
Exec=/usr/bin/openpht
Icon=openpht
Comment=OpenPHT is a community driven fork of Plex Home Theater.
StartupNotify=true
Categories=AudioVideo;Audio;Video;Player;
Terminal=false
